<!--<header class="header">  
  <h2>
    Music This Week  
  </h2>
</header>-->
<nav>
  <!--<a [routerLink]="['/']">
    Home
  </a>
  |
	<a [routerLink]="['/about']">
    About
  </a>
  |
	<a [routerLink]="['/contact']">
    Contact Us
  </a>-->
</nav>

<main>
  <router-outlet></router-outlet>
</main>


<footer>
  <!-- All of the Node.js APIs are available in this renderer process. -->
  We are using Node.js
  <script>
    document.write(process.versions.node)
  </script>, Chromium
  <script>
    document.write(process.versions.chrome)
  </script>, and Electron
  <script>
    document.write(process.versions.electron)
  </script>. © 2016
</footer>